.carrito{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0;
}
.carrito img{
  background-color: white;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.cart-counter{
  background-color: black;
  display: block;
  color: white;
  padding: 3px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top:70% ;
  right: -15%;
  bottom: 0;
}