.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f8d7da;
  color: #721c24;
  font-family: Arial, sans-serif;
  text-align: center;
}

.error-container h1 {
  font-size: 2rem;
  padding: 20px;
  border: 2px solid #f5c6cb;
  background-color: #f8d7da;
  border-radius: 10px;
}

.error-container a{
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.error-container a:hover{
  background-color: #0056b3;
}