nav{
  display: flex;
  padding: 0 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
  padding: 0.5rem 2.5rem;
  
}

nav ul{
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: aliceblue;
}

nav ul li .active{
  border-bottom: 0.2rem solid aliceblue;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo img{
  
  height: 50px;
  width: 100%;
}

